.dashboard-main-container{
    border: 1px solid red;
}

.dashboard-left-container{
    border: 1px solid red;
    width: 12%;
    padding: 2rem;
    height: 95vh;
    /* background-color: var(--light-background-color); */
}

.title{
    font-size: var(--heading-one-size);
    font-weight: var(--heading-one-weight);
}