.cells-main-container {
  display: flex;
}

.cells-container {
  position: relative;
  width: 83%;
  padding: 2rem;
  margin-left: 17%;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.cells-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  padding-top: 1rem;
}

.cells-box {
  flex: 1 1 calc(25% - 2rem);
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.cells-box:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.add-cell-box {
  flex: 1 1 calc(25% - 2rem);
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-cell-box:hover {
  transform: scale(0.98);
  transition: all 0.3s ease;
}

.cells-title {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.cells-location {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.cells-type {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 2rem;
  background-color: white;
  border-radius: 0.8rem;
}

.close-modal-button {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
}

.modal-top {
  text-align: center;
}

.loading-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-label {
  font-size: 2rem;
  font-weight: bold;
}

.error-gif {
  width: 15%;
}

.custom-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cells Detailed Styles */

.cells-detailed-container {
  position: relative;
  width: 78.6%;
  padding: 2rem;
  margin-left: 17%;
}

.disciples-table-container {
  padding: 1rem 1rem;
  font-family: var(--main-font);
}

.disciples-table-head {
  background-color: var(--primary-color);
}

.disciples-table-head-text {
  color: white;
}
