@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #403c9a; /* Example primary color */
  --secondary-color: #6c757d; /* Example secondary color */
  --light-background-color: #bcf5f975;

  --main-font: 'Poppins', sans-serif;
  --heading-one: 'Poppins';
  --heading-one-size: 1.2rem;
  --heading-one-weight: 600;
  --custom-grey: #A9A9A9
}

body{
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}